body {
  padding-top: 66px;
  /* Убедитесь, что значение соответствует высоте вашей навигационной панели */
}

/** Top Menu **/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Убедитесь, что панель отображается поверх другого контента */
  background-color: #ffffff;
  /* Цвет фона, чтобы панель была видимой */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Тень для визуального отделения от контента */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-light .navbar-nav .nav-link {
  color: #161c29;
}

.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding: 8px 12px;
}

.navbar-brand img {
  height: 40px;
  /* Задайте высоту логотипа */
}

.nav-item a.menu-item {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  font-style: normal;
  color: #161c29;
}

.btn-custom {
  margin-left: 10px;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.login-btn {
  width: 137px;
  height: 46px;
  border-color: #efa65c;
  border-width: 2px;
  border-style: solid;
  border-radius: 29px;
}

.registr-btn {
  width: 158px;
  height: 46px;
  border-radius: 29px;
  background: #efa65c
}

.language-btn {
  width: 50px;
  height: 50px;
  background: #f0f4f3;
  border-radius: 50rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/*  */
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='100' height='100' fill='rgba%280, 0, 0, 0.5%29' viewBox='0 0 50 50'%3E%3Cpath d='M 9.15625 6.3125 L 6.3125 9.15625 L 22.15625 25 L 6.21875 40.96875 L 9.03125 43.78125 L 25 27.84375 L 40.9375 43.78125 L 43.78125 40.9375 L 27.84375 25 L 43.6875 9.15625 L 40.84375 6.3125 L 25 22.15625 Z'%3E%3C/path%3E%3C/svg%3E");
}
.mobile_navArea h5 {
  color: #EFA65C;
  margin-bottom: 12px;
}
.mobile_navArea .list-unstyled a {
  color: #657B5F;
  text-decoration: none;
}
.mobile_navArea .language-btn{
  color: #161C29;
  background-color: transparent;
  border: 1px solid #F0F4F3;
}
.mobile_navArea .language-btn.active{
  background-color: #F0F4F3;
}
/** Banner block **/

.banner {
  background-color: #F0F4F3;
  /* Цвет фона */
  padding: 40px 0;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-text {
  font-family: "BioRhyme", serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  font-style: normal;
  text-align: left;
  color: #657b5f;
}

.banner-image {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}

.banner-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 56px;
}

.play-button::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 12px solid #333;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.lines-top {
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/lines-top.svg') no-repeat center center;
  background-size: cover;
  /* Настройте по своему усмотрению */
  pointer-events: none;
}

.start-trening {
  text-align: center;
  width: 100%;
}

.start-trening .registr-btn {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  font-style: normal;
  color: #161c29;
  display: inline-block;
  letter-spacing: -1px;
}

.show-on-mobile {
  display: none !important;
}

/** Improves Block **/
.improves {
  background-color: #F0F4F3;
  /* Цвет фона */
  padding: 100px 0 40px 0;
}

.improves-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.improves-title {
  font-family: "BioRhyme", serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 56px;
  font-style: normal;
  text-align: left;
  color: #13577a;
}

.improves-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px 0 0 0;
  gap: 10px;
  /* Зазор между элементами */
}

.improves-list li {
  display: flex;
  align-items: center;
  width: 48%;
  /* Ширина каждого элемента списка */
  margin-bottom: 10px;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  font-style: normal;
  text-align: left;
  color: #13577a;
}

.improves-icon {
  width: 42px;
  min-width: 42px;
  height: 42px;
  background-color: #1c6b91;
  /* Основной цвет для иконок */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  margin-right: 10px;
}
.improves-icon img{
  width: 20px;
}
.improves-image {
  position: relative;
  width: 100%;
  max-width: 420px;
  height: auto;
}

/** Methods **/
.methods {
  background-color: #ECF0D8;
  /* Цвет фона */
  padding: 70px 0;
}

.methods-content {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.methods-text {
  font-family: "BioRhyme", serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  font-style: normal;
  text-align: left;
  color: #657b5f;
  max-width: 500px;
}

.methods-image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.methods-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

/** exercises **/
.exercises {
  background-color: #F0F4F3;
  /* Цвет фона */
  padding: 50px 0;
}

.exercises-header {
  text-align: center;
  margin: 20px auto 40px auto;
  width: 500px;
}

.exercises-header h2 {
  font-family: "BioRhyme", serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 36px;
  font-style: normal;
  text-align: center;
  color: #af621e;
}

.exercises-header img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.exercises-container {
  text-align: center;
  margin-bottom: 20px;
}

.exercises-wrapper {
  position: relative;
  display: inline-block;
}

.exercises-item {
  width: 220px;
  height: 220px;
  border-radius: 20px;
  overflow: hidden;
}

.exercises-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exercises-caption {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  color: #af621e;
  margin-top: 10px;
  letter-spacing: -1px;
}

/** Photo/Video block **/
.info {
  background-color: #ECF0D8;
  /* Цвет фона */
  padding: 80px 0;
}

.info-block {
  position: relative;
}

.info-content {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.info-text {
  font-family: "BioRhyme", serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  font-style: normal;
  text-align: left;
  color: #657b5f;
  max-width: 416px;

}

.info-placeholder {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid #ccc;
}

.info-line {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../images/lines-price.svg') no-repeat center center;

}

/** Methodology **/
.methodology {
  background-color: #F0F4F3;
  padding: 70px 0;
}

.methodology-content {
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
}

.methodology-image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.methodology-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
}

.methodology-text {
  max-width: 500px;
}

.methodology-text h2 {
  font-family: "BioRhyme", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  font-style: normal;
  text-align: left;
  color: #657b5f;
  margin-bottom: 20px;
}

.methodology-text p {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  font-style: normal;
  text-align: left;
  letter-spacing: -1px;
  color: #af621e;
}

/** Feedback - Testimonial **/
.testimonial {
  background-color: #FFFFFF;
  padding: 50px 0 80px 0;
}

.custom-carousel {
  background-color: #fff;
  /* Цвет фона */
  padding: 40px 0;
  position: relative;
}

.custom-carousel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-text {
  max-width: 500px;
  font-size: 1rem;
  color: #6c757d;
  /* Цвет текста */
}


.image-container {
  position: relative;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  border: 4px solid #f39c12;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
}
.carousel-control-prev {
  margin-left: 16px;
}

.carousel-control-next {
  margin-right: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

.carousel-control-prev-icon {
  background-image: url("../images/arrow-right.svg");
}

.carousel-control-next-icon {
  background-image: url("../images/arrow-left.svg");
}

.carousel-indicators {
  bottom: -30px;
}

.carousel-indicators li {
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #EDA562;
}
.carousel-indicators li.active {
  background-color: #EDA562;
}

/* Отключение анимации */
.carousel .carousel-item {
  transition: none;
}
/* Helps  */
.helps-block {
  background-color: #eef1ed;
  /* Цвет фона */
  padding: 80px 0;
}

.helps-header {
  font-family: "BioRhyme", serif;
  font-size: 34px;
  font-weight: bold;
  line-height: 56px;
  font-style: normal;
  text-align: left;
  color: #13577a;
  margin-bottom: 20px;
}

.list-container {
  display: flex;
  justify-content: space-between;
}

.accordion_item{
  margin-bottom: 12px;
}
.accordion_heading .btn{
  display: flex;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  font-style: normal;
  text-align: left;
  letter-spacing: -1px;
  color: #13577a;
  box-shadow: none !important;
}

.helps-icon {
  width: 44px;
  min-width: 44px;
  height: 44px;
  background-color: #1c6b91;
  /* Основной цвет для иконок */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  margin-right: 10px;
  transition: 0.3s;
}
.accordion_heading .btn:not(.collapsed) .helps-icon {
  transform: rotate(180deg);
}

.helps-icon.orange {
  background-color: #EFA65C;
}

.helps-icon.green {
  background-color: #657B5F;
}

.helps-icon.blue {
  background-color: #13577A;
}

.helps-icon.teal {
  background-color: #95C3CC;
}

.helps-icon.brown {
  background-color: #AF621E;
}
.accordion_item .card-body{
  padding-left: 70px;
  padding-top: 8px;
  color: #13577A;
}

/* Footer */
.footer {
  background-color: #1c1c24;
  /* Темный цвет фона */
  color: #F0F4F3;
  /* Цвет текста */
  padding: 50px 0 0 0;
}

.footer a {
  color: #F0F4F3;
  /* Цвет ссылок */
  text-decoration: none;
}

.footer a:hover {
  color: #e67e22;
  /* Цвет ссылок при наведении */
}

.footer h5 {
  color: #EFA65C;
  /* Цвет заголовков */
  margin-bottom: 20px;
}

.footer p {
  margin: 0;
}

.footer-bottom {
  background-color: #101016;
  /* Темнее основной фона */
  padding: 10px 0;
  text-align: left;
  font-size: 0.9rem;
  margin-top: 20px;
}

.footer-bottom a {
  color: #d1d1d1;
  margin: 0 10px;
}

.privaty a {}

.copy-right {}

@media (max-width: 991.98px) {
  body{
    padding-top: 120px;
  }
  .banner-text{
    margin-bottom: 16px;
  }
  .banner-text br{
    display: none;
  }
  .improves-title {
    font-size: 28px;
    line-height: 1.4;
  }
  .improves-icon {
    width: 36px;
    min-width: 36px;
    height: 36px;
  }

  .improves-list li {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -1px;
    margin-bottom: 5px;
  }

  .improves-list li .improves-icon img {
    width: 18px;
    height: 21px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .hide-on-mobile {
    display: none !important;
  }

  .show-on-mobile {
    display: block !important;
  }

  .banner-image {
    margin: 0 auto;
  }

  .banner-text {
    margin: 80px 0 60px 0;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    width: 100%;

  }

  .lines-top {
    top: -280px;
  }

  .improves {
    padding: 50px 0 40px 0;
  }

  .improves-image {
    max-width: 100%;
  }

  .improves-title {
    text-align: center;
  }

  

  .methods-text {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
  }

  .methods-image-container {
    max-width: 100%
  }

  .exercises-header {
    max-width: 100%;
  }

  .exercises-header h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    font-style: normal;
  }

  .exercises-caption {
    /* font-size: 20px;
    font-weight: bold;
    line-height: 26px; */
    margin-bottom: 30px;
  }

  .exercises-item {
    width: 100%;
    height: 100%;
  }
  .info{
    padding: 60px 0;
  }
  .info-text {
    font-family: "BioRhyme", serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    font-style: normal;
    text-align: center;
    color: #657b5f;
    padding-bottom: 40px;
    max-width: 100%;
  }

  .methodology-image-container {
    max-width: 100%;
    padding-bottom: 20px;
  }

  .methodology-text h2 {
    font-size: 20px;
    line-height: 28px;
    font-style: normal;
    text-align: left;
    color: #13577a;
    margin-bottom: 20px;
  }

  .methodology-text p {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    letter-spacing: -1px;
    color: #af621e;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }

  .image-container {
    padding-bottom: 30px;
  }

  .helps-header {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    padding-bottom: 20px;
  }

  .helps-list li {
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
  }
}

/*  */
.form-section{
  
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #ADADAD;
  content: "-";
}
.course-option{
  margin-bottom: 0.8rem;
}
.course-option .form-check-label{
  font-weight: 600;
}
.course-option .course-description{
  display: none;
}

.course-title{
  font-weight: 700;
}
.course-description .course-title{
  display: none;
}
.form-right{
  padding: 5.5rem 2rem;
  background-color: #E4E4E4;
  box-shadow: 0vw 0vw 0vw 200vw #E4E4E4;
  clip-path: polygon(0% 0%,100vw 0%,100vw 100%,0% 100%);
}
@media(max-width:991.98px){
  .course-option .form-check-input:checked ~ .course-description{
    display: block;
  }
}